<!DOCTYPE html>
 
<html>
 
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

</head>
 
<body>
    <h1 class="has-text-centered is-size-1">
        Antrian Anda:
    </h1>

    <h1 class="has-text-centered is-size-1">
        <%=currentQueue%>
    </h1>

    <h1 class="has-text-centered is-size-1">
        Budayakan Antri untuk kenyamanan Anda
    </h1>
 
</body>
</html>